DB_NAME=real_intelligence_db
DB_USER=seu_usuario_postgres
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_PORT=5432

ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SECRET_KEY=gerar_uma_chave_segura_aqui (ex: openssl rand -hex 32)

MAIL_USERNAME=seu_email@exemplo.com
MAIL_PASSWORD=sua_senha_de_aplicativo
MAIL_FROM=seu_email@exemplo.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=True
MAIL_SSL=False
